<div class="row">
<div class="col-md-12">
  <div class="showpost">
    <table class="table">
      <tr>
        <td>
          user:
          <% if @user.name %>
            <%= @user.name %> 
          <% end %>
          <%= @user.username %>
      </td>
      </tr>
      <tr>
        <td>
          email: <%= @user.email %>
      </td>
      </tr>
      <tr>
        <td>
          <% if @user == current_user %>
            <%= link_to "Edit information", edit_user_registration_path %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  </div>
</div>
