@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

* {
  margin: 0;
}

body {
  margin-top: 0px;
  //background-image: url("/images/pattern.png");
}

h2 {
  text-align: center;
}

h5 {
  text-align: center;
}

a {
  color: gray;
}


html, body {
  height: 100%;
}

textarea {
  height: 200px;
}

/* navbar */
.navbar {
  margin-top: 1px;
}

#logo {
  float: left;
  padding-top: 7px;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
  &:hover {
    text-decoration: none;
  }
}

#search {
  margin-top: 8px;
}

.navbar-form .form-control {
  height: 8px;
}

/* wrapper */

.wrapper-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -500px;
}

/* footer */

.push {
  height: 70px;
}

.navbar-bottom {
  height: auto;
  p {
    text-align: center;
    font-size: small;
  }
}

/* posts */

.list-controls {
  .btn {
    float: left;
    margin-bottom: 10px;
    margin-left: -15px;
  }
}

th {
  background-color: white;
  color: #919191;
}

table {
  border-top: 2px solid #F9F9F9;
  border-bottom: 2px solid #F9F9F9;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: white;
  padding: 16px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  padding: 16px;
}

.form-group {
  textarea.form-control {
    height: 250px;
  }
  ul.wysihtml5-toolbar {
    margin-left: 2px;
  }
  .btn-success {
    margin-left: 2px;
  }
  label {
    margin-left: 4px;
  }
}

.col-md-12 {
  .post-container {
    margin-top: 53px;
    background-color: white;
    padding: 10px 0 0 15px;
  }
  .lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
  .edit {
    padding-bottom: 8px;
  }
  .well {
  }
  .media {
    background-color: white;
  }
  input[type="submit"] {
    margin-top: 5px;
  }
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
