<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "PairProg", "/", html: {class: "navbar-brand"}, id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li class="divider"</li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_session_path(resource_name) %></li>
        <% end %>
      </ul>
      <div id="search">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search", style: "margin-top:-10px;">
          </div>
          <button type="submit" class="btn btn-xs btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</div>
